body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.landing {
    background-image: url('images/cg.png');
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 2s ease, opacity 2s ease; /* Add transitions for transform and opacity */
    transform: translateY(0%); /* Start with no vertical translation */
    opacity: 1; /* Initially, set opacity to 1 for the fade-in effect */
}
.black-logo 
{
    width: 300px;
}
.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 49%;
    transform: translateX(-50%);
    animation: bounce 2s infinite, pop 1s infinite;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.content {
    transition: opacity 2s ease; /* Add a transition for opacity */
    position: relative;
    z-index: 1; /* Place content behind other elements */
    transform: translateY(100%); /* Start with full vertical translation */
}

/* real website content styling starts here */
.navbar-brand 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.white-logo 
{
    width: 100px;
}
.shop-btn
{
    background-color: black;
    border: 1px solid white;
    padding: 10px 38px;
    color: white;
    text-decoration: none;
}
/* .shop-btn a 
{
    color: white;
    font-size: 15px;
    text-decoration: none;
} */
.contact-btn
{
    background-color: white;
    border: 1px solid black;
    padding: 9px 30px;
    margin-left: 10px;
    margin-top: 2px;
    text-decoration: none;
    color: black;
}
.contact-btn:hover 
{
    background-color: black;
    color: white;
    border-color: white;
}
.shop-btn:hover 
{
    color: black;
    background-color: white;
    border-color: black
}


